<div class="trm-contacts-editor" *ngIf="contact; else loading">
  <mat-card>
    <mat-card-title-group class="fullBleed editing">
      <img mat-card-md-image [src]="contact.image != null ? contact.image : '/assets/images/placeholder.png'">
      <mat-card-title>{{contact.name}}</mat-card-title>
      <mat-card-subtitle>{{contact.email}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
    <trm-tabs>
        <trm-tab title="General" fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput placeholder="Name" name="name" [(ngModel)]=contact.name>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Email" name="email" [(ngModel)]=contact.email>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Phone" name="phone" [(ngModel)]=contact.phone>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Website" name="website" [(ngModel)]=contact.website>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Birthday" name="birthday" type="date" [(ngModel)]=contact.birthday>
          </mat-form-field>
        </trm-tab>
        <trm-tab title="Address" fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput placeholder="Street" name="street" [(ngModel)]=contact.address.street>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Zip" name="zip" [(ngModel)]=contact.address.zip>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="City" name="city" [(ngModel)]=contact.address.city>
          </mat-form-field>
        </trm-tab>
      </trm-tabs>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <button mat-button (click)="save(contact)" title="Save contact">Save</button>
      <button mat-button (click)="cancel(contact)" title="Cancel editing">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loading>
  Loading...
</ng-template>